body{

    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;

}
header{
    background-color: black;
}
#y{
    padding-left:15px;
}
.in{
    font-size:small;
    text-decoration: none;    
}
 .iconi i{
    margin-top: 20px;
}
.iconi{
    margin-left:9px;
    display: flex;
    margin-top: 7px;
}
.iconi h3{
    color: aliceblue;
    margin-top:8px;
    margin-left:5px;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
}
    /* font-family: "Roboto", "Arial", sans-serif; */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* search */
.search{
    position: relative;
}
.search input:focus{
    border-color: rgb(148, 169, 221);
    box-shadow: 1px 1px 5px rgb(111, 111, 111),-1px -1px 5px rgb(112, 112, 112);
    outline: none;
}
.search input{
    width:400px;
    height:30px;
    border-radius:25px;
    padding-left: 10px;
    box-sizing: border-box;
    border-color:rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.1px;
    color: #d2d2d2;
    background-color: black;
    padding-right: 70px;
}
.search button{
    position: absolute;

    width: 10px;
    top:1px;
    height:28px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 70px;
    background-color: rgb(23, 23, 23);
    outline: none;
    right:1px;
}
/* #mic{
    padding:px;
} */
.about{
  margin-right:20px;
}
.about i{
    padding:4px;
}

/* navbar */
hr{
    border: 0.5px dotted rgb(62, 62, 62);

}
.nav{

    background-color: rgb(27, 27, 27);

    margin: 0%;
    width:400px;
    height:92dvh;
    overflow:auto;
    position:sticky;
    box-shadow: 3px 3px 5px rgb(68, 67, 67), -3px -3px 5px rgb(46, 45, 45);
}
.nav h4{
    padding-left:20px;
  margin-bottom: 10px;
  color:white;
  font-family: "Roboto", "Arial", sans-serif;
}
.nav ul{
    list-style: none;
    
    padding:0%;
}
/* .verticalnav::-webkit-scrollbar {
     width:1px; 
    height: 2px;
  }
  

.verticalnav::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

 .verticalnav::-webkit-scrollbar-thumb {
    background: #888; 
  }
  

.verticalnav::-webkit-scrollbar-thumb:hover {
    background: #555; 
}   */
.nav li{
    padding-left: 30px;
    padding-top:8px;
    padding-bottom:10px;
    color:white;
    font-weight: 100;
    font-size: 1rem;
    font-family: "Roboto", "Arial", sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.nav li:hover{
background-color: #535353;
}
.nav span{
    padding-left:10px;
    padding-right: 17px;
}

/* .navs{
    display: flex;
    z-index: 1;
} */
.verticalnav{
    display:flex;
    /* overflow:auto; */
    /* background-color: black; */

}
.verticalnav ul{
    list-style: none;
    display:flex;
    /* overflow-x: scroll; */
    
}
.verticalnav li{
    font-family:  "Roboto", "Arial", sans-serif;
    color: white;
    background-color: rgb(58, 58, 58);
    padding: 10px;
    border-radius: 10px;
    /* overflow-x:scroll; */
}
.verticalnav li:hover{
    background-color: #565656;
}
.verticalnav a{
    text-decoration: none;
    width: auto;
    height: auto;
    border: 0.5px solid black;
    margin-left:10px;
    
}
.scl{
    background-color: black;
 
}
/* .cards{
    display:flex;
} */
.card{
    width:330px;
    background-color: rgb(0, 0, 0);
    height: auto;
    margin:45px;
    border-radius: 20px;
    
    
}
.card img{
width:380px;
height:auto;
border-radius: 20px;
/* padding:10px; */
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin-left:40px;
    /* justify-content: space-between; */
}
.full{

    display: flex;
}
.card h4{
    color: white;
    font-family:  "Roboto", "Arial", sans-serif;
    margin-top:0%;
    margin-bottom: 0%;
}
.card p{
    color:rgb(190, 190, 190);
    margin-top:1.5%;
}
#dot i{
    margin-left: 200px;
    /* padding-left: 10px; */
}
